header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgba(205, 154, 253, 0.589);}
body{
    background-image: url(../img/backgroun2.jpg)}
.navegação{
    display: flex;
    margin-inline-end: 10%;}
.navegação li{
margin: 20px;
justify-content: flex-end;
list-style: none;}
.navegação li a{
text-decoration: none;
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(219, 198, 240);}
.navegação li a:hover{
    background-color: rgb(250, 247, 58);
    color: rgb(12, 39, 190);}
.sunlight {
    margin-left: 55px;
    color: rgb(255, 253, 133);}
.letra {
        color: rgb(210, 189, 231);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
        font-size: 25px;}
img {
            max-width: 100%; 
            height: auto;}     
         .container {
                width: 80%;
                margin: 0 auto;
                overflow: hidden; }
.imagemesq{
                float: left; 
                margin-right: 20px;    }
.textodir {
  float: right; 
width: calc(100% - 150px); }
p {
    text-align: justify; 
}
.imagemdir{
    float: right; 
    margin-right: 20px;    }
    .textoesq {
        float: left; 
      width: calc(100% - 150px); }